# Gradle
.gradle/
build/
**/build/

# Android Studio
.idea/
*.iml
local.properties
.DS_Store

# Kotlin
*.class

# Android
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_

# Keystores
*.jks
*.keystore
